.container {
    background: aqua;
    display: grid;
    /* grid-template-rows:100px 50px 50px 100px; */
    /* grid-template-rows:repeat(4,100px); */
    /* grid-template-rows:50px repeat(3, 100px); */ /* 하나의 크기만 50px, 나머지 3개는 100px로 만들 때 */
    /*grid-template-rows:repeat(2, 100px) repeat(2, 50px); */
    /* grid-template-rows: repeat(4,minmax(150px,300px)); */
    /* grid-template-rows:[트랙명] 트랙값 [트랙명] 트랙값;*/
    /* grid-template-rows: [header] 50px [nav] 100px [main] 150px [footer] 200px; */
    /* grid-template-columns:repeat(2,100px) 50px;
    grid-template-rows:repeat(2,50px) repeat(2,200px); */
    /* ---------------grid-2부 연습*/
    grid-template-areas:
        'item1 item2'
        '. item3'
        '. item4';
    grid-template-rows: repeat(3,50px);
    grid-template-columns: repeat(2, 1fr);
}
.container .item {}
.container .item:nth-child(1) {background: pink; grid-area:item1;}
.container .item:nth-child(2) {background: yellow; grid-area:item2;}
.container .item:nth-child(3) {background: lime; grid-area:item3;}
.container .item:nth-child(4) {background: coral; grid-area:item4;}